@import "colors";

%title {
    color: $lemon;
    background: $grey;
    padding: 0.5rem;
    border-radius: 5px;
    a {
        color: $lemon;
    }
}

%module-title {
    background: $grey;
    color: $lemon;
    padding: 0.5rem;
    border-radius: 5px;
}

%button {
    background: $grey;
    color: $lemon;
    text-shadow: none;
}

%verticalTitle {
    transform: rotate(180deg);
    writing-mode: tb;
}

