/****** Modules ******/
/*** Zero Waste Tips ***/
#g-tipcase {
    // div.k2ItemsBlock {
    //     h4.modulePretext {
    //         text-align: center;
    //     }
    // }
    // .modTips {
    //     // .tip {
    //     //     animation: scrollText 10s linear infinite;
    //     //     margin-top: 0.5rem;
    //     // }
    
    //     // @keyframes scrollText {
    //     //     from {margin-left: 100%;}
    //     //     to {margin-left: 0;}
    //     // }
    // }
    .modTips {
        h4 {            
            margin: 1rem 0;
            @extend %module-title;
        }
        p {
            font-style: italic;
            &:after {
                content: "\201D";
                margin-left: 0.5rem;
            }
            &:before {
                content: "\201C";
                margin-right: 0.5rem;
            }
        }
    }
}

/*** Home Featured***/
.home-featured {
    h3 a {
        @extend %module-title;
        padding: 0;
    }
    .moduleItemReadMore {
        background: $lemon;
        color: $black !important;
        border-radius: 5px;
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .moduleItemAuthor {
        margin: 1rem 0;
        a {
            color: $lemon;
        }
    }
    .moduleCustomLink {
        color: $lemon;
    }
    .verticalTitle {
        @extend %verticalTitle;
    }
    .modTitle {
        font-size: 1.3rem;
    }
    .intro {
        padding-left: 1rem;
        position: relative;
    }  
        
}

/*** Home Latest ***/
.home-latest {
    h3 {
        @extend %module-title;
    }

    .latest-items {
        justify-content: space-between;
        .latest-item {
            margin: 0 0 2rem;
            background: #fff;
            position: relative;
            border-radius: 5px;
            transition: transform 0.5s;
            .moduleItemImage {
                img {
                    min-height: 200px;
                    border-radius: 5px;
                    width: 100%;
                }
            }
            .moduleItemInfo {
                padding: 0 0.5rem;                
                .moduleItemAuthor {
                    margin-top: 1rem;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

/*** Home Question ***/
.home-qa {
    h3 {
        @extend %module-title;
    }
    .qa-item {
        background: #fff;
        border-radius: 5px;
        padding: 0.5rem;
        position: relative;
        .modItemCategory {
            position: absolute;
            bottom: 10px;
            right: 30px;
        }
        a.moduleItemCategory {
            @extend %button;
            padding: 0.5rem;
            border-radius: 5px;
        }
    }
}

/*** Sidebar Module ***/
.modSidebar {
    background: #fff;
    border-radius: 5px;
    h3 {
        @extend %module-title;
    }
    div.k2ItemsBlock{
        ul {
            padding: 0.4rem;
        }
    }
    p {
        padding: 0.4rem;
    }
    .uk-button {
        @extend %button;
    }
    .acymailing_introtext {
        padding: 0.5rem;
    }
    table {
        background: unset;
    }
}

/*** Authors ***/
.authors {    
    h3 {
        @extend %module-title;
    }
    .authorBlock {
        background: #fff;
        padding: 0.5rem 0.2rem;
        li {
            margin: 0;
        }
    }
}

/*** Search ***/
.modSearch {
    form, input {
        margin: 0;
        background: none;
    }
    input.inputbox {
        width: 125px;
    }
    input[type=image] {
        padding: 0;
        &:hover {
            box-shadow: 1px 1px $lemon;
            background: none;
        }
    }
}

/*** Search results Page ***/

.searchPage {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
}

/*** Team ***/
.teamPage {
    .team {
        background: #fff;
        padding: 1rem;
        border-radius: 5px;
        h1, h3 {
            @extend %module-title;
        }
    }
    .team-b {
        .g-content{
            padding: 0.938rem 0;
            margin: 0.625rem 0;
            h1, h3 {
                @extend %module-title;
            }
        }
    }
    .team-member {
        background: #fff;
        padding: 1rem;
        border-radius: 5px;
    }
    .uk-button {
        @extend %button;
    }
    
}

/*** Contact Forms ***/
.ba-form {
    .span12 {
         margin-bottom: 1.5rem;
    }
} 
#authorForm, #qaForm, #subjectForm {
    .ba-btn-submit {
        display: none;
    }
}

/*** Events ***/
.modEvents {
    background: #fff;
    .event {        
        padding: 0.5rem;
        margin: 0;
        
    }
    div.k2ItemsBlock {
        ul {
            li {
                div.moduleItemIntrotext {
                    a.moduleItemImage {
                        img {
                            display: block;
                            margin: 0 auto;
                            float: none;
                        }
                    }
                }
            }
        }
    }
    a.moduleCustomLink {
        @extend %button;
        padding: 0.5rem;
        border-radius: 5px;
        float: right;
    }
}
.modCalendar {
    h4 {
        margin: 0;
        font-size: 1.5rem;
    }
    ul {
        li {
            margin: 0rem 0rem 1rem;
        }
    }
    button.calendarButton {
        padding: 0;
        a {
            padding: 0.5rem;
            background: $black;
            color: $lemon;
            border-radius: 5px;
        }        
    }
}

/*** Offline ***/

    .offline {
        .g-content {
            padding: 0;
            margin: 0;
        }
        .gantry-logo {
            img {
                width: 250px;
            }
        }
        .countdown {
            p#demo {
                font-size: 4rem;
                color: $lemon;
            }
        }
    }

#g-footer.offline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .g-content {
        padding: 1rem;
        margin: 1rem;
    }
}



