/******** Custom scss file ********/
@import "dependencies";
@import "mixins";
@import "slideshow";
@import "k2";
@import "modules";


/****** Typography ******/
p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}
ol, ul {
    li {
        margin: 0.3rem 0;
        font-size: 1.1rem;
    }
}
dl {
    padding: 0.5rem;
    font-size: 1.1rem;
    dt {
        font-weight: bold;
        margin-bottom: 0.5rem;
        border-bottom: 1px dashed;
    }
    dd {
        margin-left: 10rem;
        border-bottom: 1px dashed;
    }
}
table {
    background: #f6f6f6;
    thead {
        background: $grey;
        color: $lemon;
        strong {
            color: $lemon;
        }        
    }
    tfoot {
        td {
            background: #f6f6f6;
        }
    }
}


/****** Header ******/

/****** Navigation ******/
#g-navigation {
    .g-container {
        width: 90%;
        .g-content {
            padding: 0;
            margin: 0;
        }
        .gantry-logo {
            img {
                width: 250px;
                margin-top: 1rem;
            }
        }
        .g-main-nav {
            margin: 2rem 0;
            .g-toplevel {
                -webkit-justify-content: space-between;
                justify-content: space-between;
            }
        }
        .social {
            a {
               color: $lemon;
               background: $grey;
               &:hover {
                   color: $grey;
                   background: $lemon;
               }
            }
        }
    }
}

/****** Tipcase ******/
#g-tipcase {
    padding: 0;
    // height: 3rem;
    position: relative;
    .g-container {
        width: 100%;
        .g-content {
            padding: 0.5rem 0;
            margin: 0;
        }
    }
}

/****** Showcase ******/
#g-showcase {
    padding: 0;
    .g-container {
        width: 90%;
        .g-content {
            padding: 0 0.938rem;
            h3 {
                margin: 0 0 0.5rem;
            }
            h4 {
                margin: 0.5rem 0;
            }
        }
    }
}

/****** Feature ******/
#g-feature {
    .g-container {
        width: 90%;
    }
}

.contact #g-feature {
    button {
        @extend %button;
    }
}

/****** Main ******/
#g-main {
    padding: 1rem 0;
    .g-container {
        width: 90%;

    }
    .sidebar {
        .g-content {
            padding-left: 0;
            margin-left: 0;
        }
        h3 {
            @extend %module-title;
        }
    }
}

/****** Subfeature ******/


/****** Footer ******/
#g-footer {
    .g-container {
        width: 90%;
        a {
         color: $lemon;
        }
        h3 {
            color: $lemon;
            
        }
    }
    .modProfile {
        h3 {
            @extend %verticalTitle;
        }
    }
    .social {
        a {
            &:hover {
                color: #fff;
                background: $lemon;
            }
        }
    }
}

/*** Off Canvas***/
#g-offcanvas {
    .social {
        a {
            color: $grey;
            background: $lemon;
            &:hover {
                color: $lemon;
                background: $grey;
            }
        }
    }
}

/****** K2 ******/
/***Category***/
div.itemListCategory {
    padding: 0;
    h1 {
        @extend %title;
        margin-top: 0;
    }
    div {
        padding: 0 0.5rem;
    }
    .uk-button {
        @extend %button;
    }
}
div.catItemHeader {
    h2 {
        @extend %title;
        margin: 0.5rem 0;
        font-size: 1.4rem;
    }
    span.catItemAuthor {
        img {
            width: 50px;
            border-radius: 50%;
        }
    }
}
div.catItemIntroText {
    padding: 0 0 0 2rem;
    position: relative;

    p {
        margin: 0.2rem 0;
    }
}
div.catItemView {
    background: #fff;
    margin: 1rem 0;
}
div.itemInfo {
    position: absolute;
    bottom: 0;
}
div.catItemReadMore, div.userItemReadMore {
    background: $grey;
    border-radius: 5px;
    a {
        padding: 0.5rem;
        color: $lemon;
        transition: 1s;
        &:hover {
            color: #fff;
        
        }
    }
}

/*** User ***/ 
div.userBlock {
    background: #fff;
    h1 {
        @extend %title;
        font-size: 2rem;
        margin: 0;
    }
    img {
        width: 30%;
    }
}

div.userItemView {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 0 24px 0;
    padding: 8px;
    div.userItemHeader {
        h3.userItemTitle {
            @extend %title;
        }
    }
}

/***Items***/
#k2Container {
    padding: 1rem;
    border-radius: 5px;
}
div.itemView {
    background: #fff;
    div.itemBody {
        a {
            color: $blue;
        }
    }
}


div.itemToolbar {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
}
div.itemHeader {
    span.itemAuthor {
        display: unset;
        img {
            border-radius: 50%;
        }
    }
    h1.itemTitle {
        @extend %title;
        margin: 0 0 0.5rem;
    }
}
div.itemIntroText {
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    padding: inherit;
}
div.itemFullText {
    h3 {
        padding: 1rem 0 0.3rem;
    }
}
div.itemRatingBlock, div.itemShareBlock {
    margin: 2rem 0 0;
    padding: 0;
}
div.k2LoginBlock {
    fieldset.input {
        p {
            input {
                display: inline;
            }
        }
    }
}

blockquote {
    border-top: 1px solid;
    color: initial;
    font-style: italic;
    line-height: 2;
    border-radius: 14px;
    padding: 1rem;
    display: block;
    margin: 3rem;
    border-left: 0;
    border-bottom: 1px solid;
}
span.itemImage{
    img {
        width: 100%;
        border-radius: 5px;
    }
} 

div.itemAuthorBlock {
    img.itemAuthorAvatar {
        max-width: 80px;
    }
}

h4.itemNavigationTitle {
    margin: 0;
}
div.itemNavigation {
    background: $grey;
    display: flex;
    justify-content: space-between;
    span.itemNavigationTitle {
        color: $lemon;
    }
    a {
        color: $lemon;
    }
}

div.itemBackToTop {
    a {
        &:hover {
            color: $lemon;
        }
    }
}

div.itemAuthorLatest {
    .authorLatestItem {
        margin-right: 1rem;
        img {
            min-height: 133px;
        }
    }
}

.wf_caption {
    font-size: 75%;
}

/*** Articles ***/
div.itemExtraFields {
    .sources {
        background: #f6f6f6;
        padding: 0.5rem;
        border-radius: 5px;        
        h5 {
            margin: 0.1rem 0;
            text-decoration: underline;
        }
        p, li {
            margin: 1.3rem 0;
            border-bottom: 1px dashed #ddd;
            font-size: 80%;
            &:before {
                content: "\261E";
                font-size: 1.1rem;
                margin-right: 1rem;
            }
        }
        
    }
    .fa-facebook-square {
        color: #4267B2;
    }
    .fa-instagram {
        color: #f56040;
    }
    .fa-twitter-square {
        color: #00aced;
    }
}
div.itemTip {
    font-style: italic;
    margin: 1rem 0;
    .fa {
        color: $lemon;
    }
}

/*** Events ***/
.events {
    div.itemExtraFields h3 {
        @extend %title;
    }
    div.itemExtraFields {
        border: 1px solid;
        padding: 0;
        border-radius: 5px;
    }
}

/****** Contact ******/





/****** Media Queries ******/


// Typical values are the default breakpoints set in Gantry 5
// but these values are user definable in style settings
// so that is why the code below uses mixins to get the actual 
// values from Gantry 5 template.

// commonly used media queries

//  typically min 75rem -> changed to 90rem
@include breakpoint(large-desktop-range) {

}
// typically range 60rem to 89.938rem 
@include breakpoint(desktop-range) {
    #g-showcase {
        .g-container {
            width: 100%;
        }
        .home-featured {
            .intro {
                padding-left: 1.5rem;
            }
        }
    }
    #g-main {
        .g-container {
            width: 100%;
        }
    }

}

// typically 48rem to 59.938rem
@include breakpoint(tablet-range) {

}
// typically 30rem to 47.938rem
@include breakpoint(large-mobile-range) {

}
// typically max 30rem
@include breakpoint(small-mobile-range) {
    
}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {
    #g-main {
        .g-container {
            width: 100%;
            .g-content {
                padding: 0;
                margin: 0;
            }
        }
    }

    #g-navigation {
        .g-container {
            .gantry-logo {
                img {
                    display: block;
                    margin: 0.3rem auto;
                }
            }
        }
    }

    /***K2***/
    /*** Item ***/
    div.itemHeader {
        h1.itemTitle {
            font-size: 2rem;
        }
    }
    div.itemBody {
        h2 {
            font-size: 1.7rem;
        }
    }

    #g-showcase {
        .home-featured {
            .moduleItemAuthor {
                margin: 1rem 0 2rem;
            }
            .moduleItemReadMore {
                position: relative;
            }
        }
    }

    /*** User ***/ 
    div.userBlock {
        background: #fff;
        padding: 1rem;
        img {
            width: 100%;
            float: none;
        }
        h1 {
            text-align: center;
            margin: 0.5rem 0;
        }
    }

    div.catItemIntroText {
        padding: 0;
    }

    #g-footer {
        .modProfile {
            h3 {
                transform: unset;
                writing-mode: unset;
            }
        }
    }
}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}

// Mobile Menu Breakpoint
@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { }

@import "nucleus/mixins/breakpoints"